html {
    background-image:url("../image/km1.jpg");
    background-size: cover;
    background-attachment: fixed;
}  

.th-kmitl {
    color: orange !important;
}

.nav.nav-pills {
    color: red !important;
}

.navbar.navbar-expand-lg.bg-tranparent{
    background: transparent !important;
}

.collapse.navbar-collapse{
    background: transparent !important;
}

.card {
    display: flex;
    background: white;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: left; 
    position: absolute;
    border-radius: 10px;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
bottom: .5em;

}

@foreach($value as $key => $row)
                <tr>
                @foreach($columns as $col)
                    <td>{{$row->$col}}</td>
                @endforeach
                    <td><a href="{{ action('Userscontroller@edit',$row->รหัส) }}" class="btn btn-warning">Edit</a>
                        <form method="post" class="delete_form" action="{{action('Userscontroller@destroy',$row->รหัส)}}">
                        {{csrf_field()}}

                        @method('delete')
                        <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            @endforeach