html {
    background-image:url("../image/km1.jpg");
    background-size: cover;
    background-attachment: fixed;
}  

.th-kmitl {
    color: orange !important;
}

.nav.nav-pills {
    color: red !important;
}

.navbar.navbar-expand-lg.bg-tranparent{
    background: transparent !important;
}

.collapse.navbar-collapse{
    background: transparent !important;
}

.card {
    display: flex;
    background: white;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: left; 
    position: absolute;
    border-radius: 10px;
}

.container {

}